/* // fonts */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Poppins&family=Roboto:ital@1&family=Titillium+Web:wght@600&display=swap");
/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "DynaPuff", cursive; */

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* root */
:root {
  --green: #013c28;
  --lg-green: #d8ebe3;
  --lr-green: #209c20;
  --grey: #f5f7f8;
  --bg-grey: #eaecec;
  --pro-back: #f7f6f7;
}

/* 1rem to 10px */
html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 48%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.link {
  color: inherit;
  text-decoration: none;
}

/* /////Header///// */

/* top header */
.topHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green);
  color: var(--lg-green);
  font-size: 1.6rem;
  height: 40px;
}

.topHeader div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.topHeader > :nth-child(1) {
  width: auto;
}
.topHeader > :nth-child(1) > :first-child {
  padding-right: 1rem;
}

.topHeader > :nth-child(2) {
  width: 100%;
  max-width: fit-content;
  min-width: fit-content;
}

.topHeader > :nth-child(3) {
  width: 15rem;
}

.topHeader > :nth-child(3) > div {
  width: 100%;
  max-width: fit-content;
  min-width: fit-content;
}

.topHeader > :nth-child(3) > div > :first-child {
  padding-right: 1rem;
}
/* Dash */
.dash {
  width: 100%;
  background-color: var(--lg-green);
  height: 0.2rem;
}

.botNav {
  display: none;
  z-index: 1000 !important;
}

/* header */
.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 3.3rem;
  font-family: "DynaPuff", cursive;
  font-weight: 600;
  max-width: 20rem;
  min-width: 20rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 48rem;
  font-size: 2.5rem;
  font-weight: 600;
  min-width: 40rem;
}

.header__menu > * {
  display: flex;
  align-items: bottom;
}

.header__menu > :nth-child(4) > p {
  padding-right: 0.8rem;
}

textarea:focus,
input:focus {
  outline: none;
}

.header__search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  max-width: 45rem;
  font-size: 2.8rem;
  background-color: var(--bg-grey);
  border-radius: 25px;
  min-width: 20rem;
  margin: 0 2rem;
}

.header__search > input {
  border: none;
  height: inherit;
  font-size: 2rem;
  width: 92%;
  background-color: inherit;
}

.header__user {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 28rem;
  margin-right: 5rem;
}

.header__user > * {
  display: flex;
  /* width: 100%; */
  align-items: center;
  font-size: 4rem;
}

.header__user > * > p {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1.5rem;
}

.cart_ {
  position: relative;
  display: flex;
  align-items: center;
}

.cart_ > p {
  position: absolute;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #fff;
  background-color: var(--green);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mob {
  display: none;
}

@media screen and (max-width: 1380px) {
  .header__user > * > p {
    display: none;
  }
  .header__user {
    width: 100%;
    max-width: 10rem;
    min-width: 10rem;
  }
}

@media screen and (max-width: 1120px) {
  .header__menu {
    display: none;
  }
  .header__user {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__mob {
    display: flex;
    width: 100%;
    min-width: 8rem;
    max-width: 8rem;
    justify-content: space-between;
    align-items: center;
    font-size: 3.3rem;
    margin-right: 3rem;
  }
  .header {
    justify-content: space-between;
  }
  .header__logo {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 440px) {
  .topHeader > :first-child {
    display: none;
  }
  .topHeader > :last-child {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .botNav {
    position: fixed;
    width: 100%;
    height: 7rem;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 3rem;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    /* z-index: 100; */
  }
  .topHeader {
    height: 25px;
  }

  .botNav > *:hover {
    color: var(--lr-green);
  }
  .active {
    color: var(--lr-green);
  }
}

/* home */

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home__banner {
  width: 100%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
  justify-content: center;
  /* margin: 0 2rem; */
  /* background-image: url("/banner.jpg");
  object-fit: cover; */
  background-color: #f3f3f3;
}

.home__banner > :first-child {
  font-size: 8rem;
  font-weight: 800;
  font-family: "poppins", sans-serif;
  color: var(--green);
  margin-bottom: 1rem;
  width: 50%;
}

.home__banner > :nth-child(2) {
  font-size: 3rem;
  font-family: "poppins", sans-serif;
  width: 50%;
  margin-bottom: 2.5rem;
}

.home__banner > :last-child {
  padding: 1.5rem 4rem;
  color: #fff;
  background-color: var(--green);
  width: 15rem;
  font-size: 3.3rem;
  border-radius: 35px;
  margin-bottom: 6rem;
}

@media screen and (max-width: 1230px) {
  .home__banner > :first-child {
    width: 80%;
  }
  .home__banner > :nth-child(2) {
    width: 80%;
  }
}

@media screen and (max-width: 958px) {
  .home__banner > :first-child {
    width: 100%;
  }
  .home__banner > :nth-child(2) {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home__banner {
    margin: 0;
    padding: 0;
    height: 100%;
    /* background-color: #209c20; */
    margin-bottom: 2rem;
  }
  .home__banner > :first-child {
    font-size: 4.2rem;
    font-weight: 700;
    /* margin: 0; */
    margin-left: 3rem;
    margin-top: 3rem;
    width: 90%;
  }

  .home__banner > :nth-child(2) {
    font-size: 2rem;
    /* margin: 0; */
    width: 90%;
    margin-left: 3rem;
  }

  .home__banner > :last-child {
    font-size: 2.5rem;
    /* margin: 0; */
    margin-left: 3rem;
    text-align: center;
  }
}

.home_sec1 {
  margin-top: 5rem;
  width: 100%;
  /* overflow-x: hidden; */
  /* margin-bottom: 5rem; */
}

.home_sec1 > :first-child {
  font-weight: 600;
  font-size: 4rem;
  font-family: "poppins", sans-serif;
  margin-bottom: 3rem;
  margin-left: 6rem;
}

.home_sec1_hold {
  margin-left: 6rem;
  display: flex;
  width: 94%;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
}

.categoryCard {
  width: 100%;
  min-width: 22rem;
  max-width: 25rem;
  background-color: #209c20;
  position: relative;
  height: 35rem;
  border-radius: 30px;
  margin: 2rem;
}

.categoryCard > :first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.categoryCard > p {
  position: absolute;
  top: 0;
  margin-top: 3rem;
  color: #fff;
  font-size: 3.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 700 !important;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .categoryCard {
    margin: 1rem;
    margin-bottom: 0;
  }
  .home_sec1_hold {
    margin-left: 2rem;
    width: 92%;
    margin-top: -2rem;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: 0;
  }
  .home_sec1_hold::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .home_sec1 > :first-child {
    margin-left: 2rem;
    margin-top: -3rem;
    font-size: 3rem;
    z-index: 1;
  }

  .categoryCard {
    width: 2rem !important;
    height: 25rem;
  }
}

.dod {
  margin-top: 5rem;
  /* margin-left: 6rem; */
}

.dod_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  /* padding: 0rem 2rem; */
}

.dod_tit {
  font-size: 4rem;
  font-weight: 600;
  margin-left: 6rem;
  /* margin-bottom: 3rem; */
}

.dod_cta {
  font-size: 2.5rem;
  color: var(--green);
  display: flex;
  align-items: center;
  text-decoration: underline var(--green);
}

.dod_cta > p {
  margin-right: 1rem;
  font-weight: 600;
}

.dod_hold {
  /* margin-left: 6rem; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
}

.productCard {
  width: 100%;
  min-width: 30rem;
  max-width: 30rem;
  margin: 2rem 6rem;
  font-family: "poppins", sans-serif;
}

.productCard__top {
  width: 100%;
  /* background-color: var(--pro-back); */
  position: relative;
}
.productCard_img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  /* background-color: inherit; */
  background-color: var(--pro-back);
  padding: 2rem;
  border-radius: 25px;
}

.productCard_img > :first-child {
  width: 100%;
  height: 100%;
  object-fit: contain;

  /* margin: 2rem; */
  /* padding: 2rem; */
}

.productCard__top > :nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: -2rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3rem;
  color: #7f7f7f;
  border-radius: 50%;
}

.productCard__top > :nth-child(2):hover {
  color: var(--lr-green);
  cursor: pointer;
}

.productCard_info > :first-child {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins";
  margin-bottom: -1rem;
}

.productCard_info > :first-child > :first-child {
  /* height: 12rem; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* white-space: nowrap; /* optional - prevents text from wrapping */
  text-overflow: ellipsis;
}

.productCard_info > :nth-child(2) {
  font-size: 2rem;
  padding-left: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* white-space: nowrap; /* optional - prevents text from wrapping */
  text-overflow: ellipsis;
}

.productCard_info > :nth-child(3) {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.productCard_cta {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem 3rem;
  border-radius: 25px;
  border: 1px solid var(--green);
  width: fit-content;
  font-size: 2rem;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}

.productCard_cta:hover {
  color: #fff;
  background-color: var(--green);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.dod_hold::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 768px) {
  .dod_tit {
    font-size: 3rem;
    margin-left: 2rem;

    /* margin-top: -3rem; */
  }
  .dod_top {
    align-items: center;
  }

  .dod_cta {
    font-size: 1.8rem;
  }
  .dod_cta > p {
    margin-right: 0.5rem;
    font-weight: 600;
  }
  .dod_hold {
    margin-left: -2rem;
    width: 100%;
    /* margin-top: -2rem; */
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: 0;
  }
  .dod_hold::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .productCard {
    margin: 2rem 4rem;
  }
}
